<h2>About Me</h2>

<p>
    My name is Mikhail Malakhov (Misha/Mike/Michele/Michel/米哈尔 and sure, Mikhan for my close
    friends). I'm from Russia, I was born in 1985 year in
    <a href="https://www.openstreetmap.org/relation/3374769">Камышин (Kamyshin)</a> (a small city
    on Volga River) and now I live in Moscow. I'm the same age as band Aria from USSR, the Metal
    Heart album by ACCEPT,
    <a target="_blank" href="https://en.wikipedia.org/wiki/Windows_1.0x">Microsoft Windows</a>,
    <a target="_blank" href="https://mario.nintendo.com/">Super Mario Bros</a> and [not just]() :)
    A few words about me: Software Engineer, Audiophile, Beer Hunter!
</p>

<p>
    I have more than 19 years' experience as a software engineer, team leader and head of
    department. During my career I gained experience in the full project lifecycle — from
    development, architecture and infrastructure design, testing and integration to product and
    project management. I have developed web projects, databases, desktop, system and mobile
    applications.
</p>

<p>
    Since 2014, my professional interests lie in the field of Android and Android Automotive.
    Right now, I'm head of <a target="_blank" href="https://auto.yandex/">Yandex Auto</a> product
    in Yandex company — is a solution based on Android Automotive OS that combines Yandex services
    (such as Navigation, Alice, Music, Fuel, Parking, Weather, Kinopoisk, etc.) and makes them
    convenient to use in a vehicle. You could find more information in my
    <a href="cv.php">Curriculum Vitae</a>.
</p>

<p>
    Also, my interests in computer science are compilers and programming languages, operating
    systems, databases, embedded systems.
</p>

<p>
    Among other things, I love traveling and hiking, reading and books, big rivers and lakes,
    forest and nature, silence, electric scooters, history, rain, cosmology, music, fried chicken,
    some computer games, X-Files and Twin Peaks tv series, old hardware and my computer.
</p>
