<!-------------------------------------------------------------------------
    Common things
-------------------------------------------------------------------------->
<script>

    /**
     * Aligns the value with zeros.
     * */
    function leadingZero(count, val) {
        return ('' + val).padStart(count, '0');
    }

    /**
     * Executes document's command with default arguments.
     * */
    function execCmd(command) {
        document.execCommand(command, false, null);
    }

    /**
     * Inserts specified text to current position.
     * */
    function insertText(text) {
        document.execCommand('insertText', false, text);
    }

    /**
     * Inserts new line.
     * */
    function insertLineBreak() {
        execCmd('insertLineBreak');
    }

    /**
     * Inserts an HTML block-level element around the line containing the
     * current selection.
     * */
    function insertBlock(block) {
        document.execCommand('formatBlock', false, block);
    }

    /**
     * Returns true, if we current on Windows OS.
     * */
    function isWindowsOS() {
        return window.navigator.platform === 'Win32';
    }

</script>

<!-------------------------------------------------------------------------
    Main script
-------------------------------------------------------------------------->
<script>

    /** View: Editor. */
    const VIEW_EDITOR_ID = 'webpad-editor';
    var VEditor;

    /** View: File formats. */
    const VIEW_FORMAT_ID = 'webpad-format';
    var VFormat;

    /**
     * Saves WebPad state to local storage.
     * */
    function saveState() {
        var text = VEditor.innerHTML;
        var format = VFormat.value;
        localStorage.setItem(VEditor.id, text);
        localStorage.setItem(VFormat.id, format);
        console.log('WebPad: saveState');
    }

    /**
     * Loads WebPad state from local storage.
     * */
    function loadState() {
        var value = localStorage.getItem(VEditor.id);
        if (value) VEditor.innerHTML = value;
        //value = localStorage.getItem(VIEW_EDITOR_HEIGHT);
        //if (value) VEditor.style.height = value + 'px';
        value = localStorage.getItem(VFormat.id);
        if (value) VFormat.value = value;
        console.log('WebPad: loadState');
    }

    /**
     * Clears entered text in Editor and local storage.
     * */
    function clearText() {
        if (confirm('Are you sure you want to clear entered text?')) {
            VEditor.innerHTML = '';
            saveState();
        }
        console.log('WebPad: clearData');
    }

    function downloadFile() {
        var text = '';
        var format = VFormat.value;
        var mime = 'plain';
        
        if (format == 'rtf' || format == 'htm') {
            text = VEditor.innerHTML;
            if (format == 'rtf') {
                text = convertHtmlToRtf(text);
                mime = 'rtf';
            } else {
                mime = 'html';
            }
        } else {
            text = VEditor.innerText;
            //text = text.replace(/\n\n/g, '\n'); // ???
            // CRLF - Need to setting for it...
            if (isWindowsOS()) {
                text = text.replace(/\n/g, "\r\n");
            }
        }

        var link = document.createElement('a');
        link.download = 'my-note.' + format;
        var data = new Blob([text], {
            type: "text/" + mime
        });
        link.href = window.URL.createObjectURL(data);
        link.click();
        link.remove();
    }

    /**
     * Inserts date and time to current cursor position.
     * */
    function insertDateTime() {

        function format(val) {
            return leadingZero(2, val);
        }

        var str = '[';
        var now = new Date();
        str += format(now.getDate()) + '.';
        str += format(now.getMonth() + 1) + '.';
        str += now.getFullYear() + ' - ';
        str += format(now.getHours()) + ':';
        str += format(now.getMinutes()) + ']';
        insertText(str);
    }

    function setTextColor() {
        var e = document.getElementById("webpad-text-color");
        var val = e.value;
        document.execCommand('styleWithCSS', false, true);
	    document.execCommand('foreColor', false, val);
	    document.execCommand('styleWithCSS', false, false);
        e.selectedIndex = 0;
    }

    /**
     * Initializes necessary UI elements.
     * */
     function initUI() {
        document.execCommand('defaultParagraphSeparator', false, 'p');
        VEditor = document.getElementById(VIEW_EDITOR_ID);
        VFormat = document.getElementById(VIEW_FORMAT_ID);
        loadState();
        VEditor.addEventListener('keydown', function(event) {
            onKeyDown(event);
        });
    }

    /**
     * Prints entered text. This function is different than browser
     * feature, it prints only text from Editor.
     * */
     function printDoc() {
        // We should save current state before change
        // a page content
        saveState();
        var printContent = VEditor.innerHTML;
        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;
        window.print();
        document.body.innerHTML = originalContent;
        // Page content was changed, let's reinit UI.
        initUI();
    }

    /**
     * Key handler: Tab.
     * */
    function onKeyTab(event) { insertText('    '); }

    /**
     * Key handler: Enter.
     * */
    function onKeyEnter(event) { insertText('\n'); }

    /**
     * Key event: On key down.
     * */
    function onKeyDown(event) {
        // Tab
        if (event.key === 'Tab') {
            event.preventDefault();
            onKeyTab();
        };
        // Enter
        if (event.key === 'Enter') {
            event.preventDefault();
            onKeyEnter();
        }
        return false;
    };

    /**
     * Window event: On load.
     * */
    window.onload = function winLoad() { initUI(); };

    /**
     * Window event: On change.
     * */
    window.onchange = function winChange() { saveState(); };

    /**
     * Window event: On close.
     * */
    window.onclose = function winClose() { saveState(); };

    /**
     * Window event: Before unload (reload).
     * */
    window.onbeforeunload = function winBeforeUnload() { saveState(); };

</script>


<!-------------------------------------------------------------------------
    Text tools
-------------------------------------------------------------------------->
<script>

    function textToRtf(text) {

        function processHeader(header) {
            console.log(header.tagName);
            var result = "\\pard\\sa200\\sl276\\slmult1";
            if (header.style.textAlign == 'left') result += "\\ql";
            if (header.style.textAlign == 'justify') result += "\\qj";
            if (header.style.textAlign == 'center') result += "\\qc";
            if (header.style.textAlign == 'right') result += "\\qr";
            result += "\\b\\fs52 " + header.innerText + "\\fs22\\b0\\par";
            return result;
        }

        var rtf = "{\\rtf1\\ansi\\ansicpg1251\\deff0\\deflang1049" +
            "{\\fonttbl{\\f0\\fnil\\fcharset0 Calibri;}}";
        rtf += "{\\*\\generator Msftedit 5.41.21.2510;}";
        var tag;
        for (let i = 0; i < VEditor.children.length; i++) {
            tag = VEditor.children[i].tagName;
            if (tag == 'H1') rtf += processHeader(VEditor.children[i]);
            //console.log(rtf);
            //const styles = window.getComputedStyle(VEditor.children[i])
            //console.log(VEditor.children[i]);
            //console.log(VEditor.children[i].tagName);
            //console.log(VEditor.children[i].style.textAlign);
            //console.log(styles);
        }
        console.log(rtf);
        //alert(rtf);
    };

</script>

<!-------------------------------------------------------------------------
    Any test stuff
-------------------------------------------------------------------------->
<script>

    function justTest() {
        //alert(isWindowsOS());
        //VEditor.contentDocument.designMode = "on";
        //iframeNode.contentDocument.designMode = "on";
        textToRtf();
    }

</script>

<!-------------------------------------------------------------------------
    Page content
-------------------------------------------------------------------------->

<p>
    A simple web notepad (WebPad) with text formatting and spell check
    feature. The WebPad doesn't send the entered text anywhere, but only
    saves it in a secure local storage.
</p>

<!-- Text formatting controls and clear. -->
<table class="controls" border="0"><tr>
<td align="left">

    <!-- Text format (bold, italic, underline, etc) -->
    <button title="Bold"onclick="execCmd('bold');">
        <b>B</b></button>
    <button title="Italic" onclick="execCmd('italic');">
        <i>I</i></button>
    <button title="Underline" onclick="execCmd('underline');">
        <u>U</u></button>
    <button title="Strikethrough" onclick="execCmd('strikethrough');">
        <strike>S</strike></button>
    <button title="Superscript" onclick="execCmd('superscript');">
        X<sup>y</sup></button>
    <button title="Subscript" onclick="execCmd('subscript');">
        X<sub>y</sub></button>

    <select title="Text Color" name="webpad-text-color" id="webpad-text-color"
            onchange="setTextColor();">
        <option value="#000000" style="background-color: #000000; color: white;">Black</option>
        <option value="#FF0000" style="background-color: #FF0000;" >Red</option>
        <option value="#DC143C" style="background-color: #DC143C;">Crimson</option>
        <option value="#B22222" style="background-color: #B22222;">Firebrick</option>
        <option value="#8B0000" style="background-color: #8B0000;">DarkRed</option>
        <option value="#FFA500" style="background-color: #FFA500;">Orange</option>
        <option value="#FFD700" style="background-color: #FFD700;">Gold</option>
        <option value="#FFFF00" style="background-color: #FFFF00;">Yellow</option>
        <option value="#F0E68C" style="background-color: #F0E68C;">Khaki</option>
        <option value="#000080" style="background-color: #000080; color: white;">Navy</option>
        <option value="#0000CD" style="background-color: #0000CD; color: white;">MediumBlue</option>
        <option value="#0000FF" style="background-color: #0000FF; color: white;">Blue</option>
        <option value="#1E90FF" style="background-color: #1E90FF; color: white;">DodgerBlue</option>
        <option value="#006400" style="background-color: #006400;">DarkGreen</option>
        <option value="#008000" style="background-color: #008000;">Green</option>
        <option value="#228B22" style="background-color: #228B22;">ForestGreen</option>
        <option value="#32CD32" style="background-color: #32CD32;">LimeGreen</option>
        <option value="#00FF00" style="background-color: #00FF00;">Lime</option>
        <option value="#7FFF00" style="background-color: #7FFF00;">Chartreuse</option>
        <option value="#98FB98" style="background-color: #98FB98;">PaleGreen</option>
        <option value="#FF1493" style="background-color: #FF1493;">DeepPink</option>
        <option value="#FF69B4" style="background-color: #FF69B4;">HotPink</option>
        <option value="#FFC0CB" style="background-color: #FFC0CB;">Pink</option>
        <option value="#4B0082" style="background-color: #4B0082; color: white;">Indigo</option>
        <option value="#800080" style="background-color: #800080; color: white;">Purple</option>
        <option value="#9400D3" style="background-color: #9400D3;">DarkViolet</option>
        <option value="#FF00FF" style="background-color: #FF00FF;">Magenta</option>
        <option value="#EE82EE" style="background-color: #EE82EE;">Violet</option>
    </select>&nbsp;

    <!-- Clear text format -->
    <button title="Clear format" onclick="execCmd('removeFormat');">
        C</button>
    &nbsp;&nbsp;

    <!-- Insert (lists, line, data, etc) -->
    <button title="Unordered list"
        onclick="execCmd('insertUnorderedList');">&bull;-</button>
    <button title="Ordered list" onclick="execCmd('insertOrderedList');">
        1-</span></button>
    <button title="Line" onclick="execCmd('insertHorizontalRule');">
        -</button>
    <button title="Current date and time" onclick="insertDateTime()">
        Now</button>
    &nbsp;&nbsp;

    <!-- Headers -->
    <button title="Header 1" onclick="insertBlock('h1');">H1</button>
    <button title="Header 2" onclick="insertBlock('h2');">H2</button>
    <button title="Header 3" onclick="insertBlock('h3');">H3</button>
    <button title="Header 4" onclick="insertBlock('h4');">H4</button>
    &nbsp;&nbsp;

    <!-- Justify -->
    <button title="Align Left" onclick="execCmd('justifyLeft')">
        L</button>
    <button title="Align Center" onclick="execCmd('justifyCenter')">
        C</button>
    <button title="Align Right" onclick="execCmd('justifyRight')">
        R</button>
    <button title="Justify" onclick="execCmd('justifyFull')">
        J</button>

</td><td align="right">
    <!--
    <button title="Test" onclick="justTest()">Test</button>&nbsp;&nbsp;
    -->
    <!-- Clear text -->
    <button onclick="clearText()">Clear</button>
</td></tr></table>

<!-- VEditor -->
<div class="editable" contenteditable="true" spellcheck="true"
    id="webpad-editor" placeholder="Put your text here...">
</div>

<!-- Controls -->
<table class="controls" border="0"><tr>

<!-- Print -->
<td align="left">
    <button title="Print or save as PDF..." onclick="printDoc();">
        Print</button>
</td>

<td align="right">
    <!-- VFormat -->
    <select title="File format" name="webpad-format" id="webpad-format">
        <option value="txt">Plain text</option>
        <option value="rtf" disabled="true">Rich text</option>
        <option value="md" disabled="true">Markdown</option>
        <option value="htm">HTML markup</option>
    </select>&nbsp;
    <!-- Download -->
    <button title="Download as file..." onclick="downloadFile();">
        Download</button>
</td>

</tr></table><br>

<!-------------------------------------------------------------------------
    END
-------------------------------------------------------------------------->
